.streaks {
	width: 350px;
	height: 20px;
	margin: auto;

	.streak {
		height: 20px;
		padding-top: 16px;
		font-size: 20px;

		.fa-fire-alt {
			color: orange;

			&:not(:first-child) {
				margin-left: 8px;
			}
		}
	}
}
