.streaks {
	width: 350px;
	height: 20px;
	margin: auto;

	.fa-fire-alt {
		height: 20px;
		padding-top: 16px;
		font-size: 20px;
		color: orange;

		&:not(:first-child) {
			margin-left: 8px;
		}
	}
}
